services:
  mariadb:
    image: mariadb:10.11
    ports:
      - "3306:3306"
    environment:
      MARIADB_DATABASE: test_db
      MARIADB_USER: root
      MARIADB_PASSWORD: root
      MARIADB_ROOT_PASSWORD: root
    restart: always
  
  server:
    build: ./
    ports:
      - "3000:3000"
    depends_on:
      - mariadb
    restart: always